html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0 auto;
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Comfortaa', cursive;
  color: #222;
}

.structure {
  width: 100%;
}

.margin {
  width: 20%;
}

.padding_min {
  padding: 1%;
}

.box_info {
  width: 60%;
}

.box_column {
  width: 50%;
  float: left;
}

@media (max-width: 1600px) {
  .margin {
    width: 12.5%;
  }

  .box_info {
    width: 73%;
  }
}

@media (max-width: 900px) {
  .margin {
    width: 10%;
  }

  .box_info {
    width: 80%;
  }

  .box_column {
    width: 80%;
    float: none;
  }
}

@media (max-width: 600px) {
  .margin {
    width: 0%;
  }

  .box_info {
    width: 100%;
  }

  .box_column {
    width: 100%;
    float: none;
  }
}

.align_center {
  text-align: center;
}



.title {
  line-height: 2;
}

.skills ul {
  margin-left: 40px;
}

.activity{
  
}